@font-face {
    font-family: "Satoshi";
    src: url("..\src\font\satoshi-variable.ttf");
}

.satoshi{
    font-family: "Satoshi";
}

.cursor-circle {
  cursor: none; /* Hide the default cursor */
}

.cursor-circle::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-in-out;
}
  